/* START: HEADER */
.header {
	background: #ccc;
}
/* END: HEADER */
/* START: CONTENT */
.content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
/* c__nav */
.c__nav {
	width: 270px;
	background: #f7f7f7;
}
/* c__views */
.c__views {
	flex: 1;
	background: #eee;
}
/* END: CONTENT */
/* START: FOOTER */
.footer {
	background: #aaa;
}
/* END: FOOTER */

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1299px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 1199px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (max-width: 991px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 440px) {}

@media only screen and (max-width: 420px) {}